{% extends "base.html" %}

{% block content %}
    <h2 align="center">Works log</h2>
    {% if current_user.is_authenticated %}
        <a href="add_job" class="btn btn-secondary">Добавить работу</a>
    {% endif %}
    {% for job, user in jobs %}
        <h2> Action # {{ job.id }} </h2>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>
                        Title
                    </p>
                </div>
                <div class="col">
                    <p>
                        Leader
                    </p>
                </div>
                <div class="col">
                    <p>
                        Duration
                    </p>
                </div>
                <div class="col">
                    <p>
                        Collaborators
                    </p>
                </div>
                <div class="col">
                    <p>
                        Is finished
                    </p>
                </div>
            </div><!--/row-->
            <div class="row">
                <div class="col">
                    <p>
                        {{ job.job }}
                    </p>
                </div>
                <div class="col">
                    <p>
                        {{ user.surname + ' ' + user.name }}
                    </p>
                </div>
                <div class="col">
                    <p>
                        {{ job.work_size }}
                    </p>
                </div>
                <div class="col">
                    <p>
                        {{ job.collaborators }}
                    </p>
                </div>
                <div class="col">
                    {% if job.is_finished %}
                        <p>
                            Is finished
                        </p>
                    {% else %}
                        <p>
                            Is not finished
                        </p>
                    {% endif %}


                </div>
            </div><!--/row-->
        </div><!--container-->
        {% if (current_user.is_authenticated and current_user.id == job.team_leader) or current_user.id == 1 %}
            <div>
                <a href="/{{ job.id }}" class="btn btn-warning">
                    Изменить
                </a>
                <a href="/jobs_delete/{{ job.id }}" class="btn btn-danger">
                    Удалить
                </a>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}